<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Georgia Tech Timetable</title>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<!--[if IE]>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	</head>
	<body>
		<div class="container bgcolor-1">
			<header class="codrops-header bgcolor-2">
				<h1 data-aos="fade-up">Congratulations!<br/>Everything has been settled!</h1>
			</header>
            </section>
		</div><!-- /container -->
        <div class="container bgcolor-1" id="progress">
        </div>
		<script src="../static/js/classie.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
          requirejs.config({
              baseUrl: '../static/aos',
          });
          require(['aos'], function(AOS){
              AOS.init({
                  easing: 'ease-in-out-sine'
              });
          });
        </script>
	</body>
</html>

</script>